.card {
  margin: 1rem;
  width: calc(80% - 2rem);
  height: calc(80% - 2rem);
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
  border-radius: 6px;
  padding: 1rem;
  background: white;
  display: flex;
  align-items: center;
}

.card__content {
  flex: 1;
  margin-left: calc(20px - 0.5rem);
}

.card__name {
  display: flex;
  align-items: center;
}

.card__image {
  border-radius: 50%;
  object-fit: cover;
  display: flex;
  width: calc(17% - 1rem);
}

.card__icon {
  margin-right: calc(25px - 1rem);
}

.card__info h2 {
  font-size: calc(10px + 0.5vw);
  font-weight: normal;
  color: #292929;
  font-weight: bold;
  margin-right: 0.5rem;
}

.card__info h3 {
  margin: 0;
  font-size: calc(8px + 0.5vw);
}

.card__label {
  background-color: Orchid;
  padding: 3px;
  width: calc(17%- 1rem);
  height: calc(80% - 1rem);
  border-radius: 20%;
  font-size: calc(3px + 0.5vw);
  color: white;
  text-align: center;
}
